body{	
	color: white;
	background-color: black;
	position: relative;
	min-height: 99vh;
	/*min-height is used to ensure footer is always on the bottom of the page 
	   regardless of the amount of content displayed*/
}

h1{
	font-size: 26px;
	padding-top: 18px;
	padding-right: 10%;
	text-align: right;
}

.nav-link{
	width: 80px;
	text-align: center;
}

.navbar{
	padding-left: 15%;
	padding-top: 2.5%;
	background-color: black;
}

a:hover{
	color: grey;
}

.navbar-toggler-icon{
	padding-top: 15px;
	padding-bottom: 20px;
}

.footer{	
	font-size: 100%;
	position: absolute;
	bottom: 0;
	padding-left: 5%;
	height: 20px;
}

p{
	padding: 15% 5%;
	text-align: center;
	font-size: 150%;
}

a{
	color: inherit;
	/*to prevent links from turning blue*/
}
