body {
	
	color: white;
	background-color: black;
	position: relative;
	min-height: 100vh;
	/*min-height is used to ensure footer is always on the bottom of the page 
	   regardless of the amount of content displayed*/
}

h1 {
	font-size: 26px;
	padding-right: 10%;

}

.navbar {
	padding-left: 10%;
	padding-top: 2.5%;
	background-color: black;
}

a:hover {
	color: grey;
}

.navbar-toggler-icon {
}

.footer{	
	position: absolute;
	bottom: 0;
	background-color: inherit;	
	color: inherit;
    font-family: inherit; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	height: 20px;
	/*the height measurment is also used in the content class as padding-bottom 
	to leave a space for the footer*/
}

.content{
	padding-bottom: 20px;
}

p{
	padding: 15% 5%;
	text-align: center;
	font-size: 150%;
}


a{
	color: inherit;
	/*to prevent links from turning blue*/
}
